{% load static %}

<article class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px">
                    <img alt="Avatar" class="img-fluid" src="{% static 'img/duck.jpg' %}">
                </div>
                <input aria-label="default input example" class="form-control"
                       placeholder="Default input" type="number"
                       value="5">
            </div>
            <div class="col-9">

                <p class="card-text">{{ answer.text }}</p>
                <div class="d-flex gap-5">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox"
                                   id="firstCheckbox" checked>
                            <label class="form-check-label" for="firstCheckbox">Correct!</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>