<div class="col">
    <section class="pop-tags">
        <h2>Popular Tags</h2>
        <div>
            <span class="badge text-bg-light">perl</span>
            <span class="badge text-bg-light">Python</span>
            <span class="badge text-bg-light">TechnoPark</span>
            <span class="badge text-bg-light">MySQL</span>
            <span class="badge text-bg-light">django</span>
            <span class="badge text-bg-light">UFO</span>
            <span class="badge text-bg-light">Cats</span>
            <span class="badge text-bg-light">Firefox</span>
        </div>
    </section>
    <br>

    <section>
        <h2>Best members</h2>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#">Mr.Freeman</a></li>
                <li class="list-group-item"><a href="#">Dr.House</a></li>
                <li class="list-group-item"><a href="#">Bender</a></li>
                <li class="list-group-item"><a href="#">Queen Victoria</a></li>
                <li class="list-group-item"><a href="#">A.Stepanova</a></li>
            </ul>
        </div>
    </section>
</div>