{% extends 'base_unlogined.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-9">

        <div class="d-flex gap-3 align-items-center">
            <h1>New Questions</h1>
            <a href="{% url 'hot' %}">Hot Questions</a>
        </div>

        <div class="row">
            <div class="d-flex flex-column gap-3">
                {% for question in page_obj %}
                {% include 'include/question_templ.html' with item=question %}
                {% endfor %}
            </div>

            {% include 'include/pagination.html' %}

        </div>
    </div>
    {% endblock %}