{% extends 'base_unlogined.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-9">

        <h1>Registration</h1>
        <br>

        <div class="row">
            <div class="d-flex flex-column gap-3">

                <form action="submit" onsubmit="return checkForm()">

                    <div id="email-error-msg" class="invalid-feedback">Sorry, this email is already registered!</div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="signup-login-form" class="col-sm-2 col-form-label">Login</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control signup-login-form" id="signup-login-form"
                                   placeholder="Enter your login here" required="required" minlength="1">
                        </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="signup-email-form" class="form-label">Email address</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control signup-email-form" id="signup-email-form"
                                   placeholder="Enter your email here" required="required">
                        </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="signup-nickname-form" class="col-sm-2 col-form-label">Nickname</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control signup-nickname-form" id="signup-nickname-form"
                                   placeholder="Enter your nickname here" required="required" minlength="1">
                        </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="input-password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" id="input-password" class="form-control signup-password-form"
                                   placeholder="Enter your password here" required="required" minlength="6">
                        </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="signup-repeat-password-form" class="col-form-label">Repeat password</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" id="signup-repeat-password-form"
                                   class="form-control signup-repeat-password-form"
                                   onchange="return checkPass()" placeholder="Repeat your password here"
                                   required="required">
                        </div>
                        <div id="repeat-pass-error-msg" class="invalid-feedback">Passwords don't match!</div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="upload-file-form" class="col-form-label">Upload avatar</label>
                        </div>
                        <div class="col-auto">
                            <input type="file" class="form-control upload" id="upload-file-form"
                                   aria-label="file example">
                            <div class="invalid-feedback">Invalid form file!</div>
                        </div>
                    </div>
                    <br>

                    <div class="col-12">
                        <button class="btn btn-success" type="submit">Sign up!</button>
                    </div>
                </form>
                <br>

            </div>
    </div>
    </div>

    <script>
        function checkPass() {
            var pass = document.getElementById('input-password')
            var rep = document.getElementById('input-repeat-password')
            if (pass.value === rep.value) {
                document.getElementById('repeat-pass-error-msg').style.display = 'none';
                return true;
            } else {
                document.getElementById('repeat-pass-error-msg').style.display = 'block';
                return false;
            }
        }

        function checkForm() {
            if (checkPass() === true) {
                document.getElementById('email-error-msg').style.display = 'block';
                return false;
            }
        }
    </script>
    {% endblock %}